@import "tailwindcss";
@import "@nuxt/ui";
@import "../theme/breakpoints.css";
@import "../theme/color.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: auto;
}
::-webkit-scrollbar-thumb {
  background: #d1a132;
}
:root {
    --primary-color: #D1A132;
    --global-bg-color: #FAF6F1;
    --global-color-text: #606060;
    --primary-color-text: #0A2C0F;
}

